@import "tailwindcss";



body {
  background-color: white;
  color: black;
}



@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.7s ease-out;
}
